attrs==20.3.0
beautifulsoup4==4.9.3
behave==1.2.6
importlib-metadata==4.0.0
iniconfig==1.1.1
packaging==20.9
parse==1.19.0
parse-type==0.5.2
pkg-resources==0.0.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.3
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.1
